<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-X6NN2Y8K4K"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-X6NN2Y8K4K');
         </script>
  </head>
 <body>		
   <div>
      <section>

         {{ content }}
         
        
        <script src="https://utteranc.es/client.js"
                repo="serendipityinlife/serendipityinlife.github.io"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>

      </section>
    </div>
   
     </body>
</html>
